<!DOCTYPE html>
<html>
	<head>
		<title>Monitors</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%- include('includes/css.ejs') %>
		<style>
			table, th, td {
				border: 1px solid grey;
			}
			td {
				padding-top: 4px;
				padding-bottom: 4px;
				text-align: center;
			}
			table {
				border-collapse: collapse;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<% var monObj = {} %>
		<% for (var group in groups) { %>
			<% monObj[group] = { group: true, groupData: groups[group], members: {} } %>
			<% monObj[group].groupData.id = group %>

			<% for (var monitor in monitors) { %>
				<% if (groups[group].members.includes(monitor)) { %>
					<% monObj[group].members[monitor] = monitors[monitor] %>
					<% monitors[monitor].inGroup = true %>
				<% } %>
			<% } %>
		<% } %>
		<% for (var monitor in monitors) { %>
			<% if (!monitors[monitor].inGroup) { %>
				<% monObj[monitor] = monitors[monitor] %>
			<% } %>
		<% } %>

		<div class="main-content">
			<h1>Monitors</h1>
			<% if (customLogin) { %>
				<a href="/logout">Logout</a>
			<% } %>
			<hr />
			<table>
				<thead>
					<th colspan="2">Monitor</th>
					<th>Status</th>
					<th>Type</th>
				</thead>
				<tbody>
					<% var monCounter = 0 %>
					<% for (var mon in monObj) { %>
						<% monCounter++ %>
						<% var monLast = Object.keys(monObj).length === monCounter %>
						<% if (monObj[mon].groupData) { %>
							<tr class="group-heading" data-group-id="<%= monObj[mon].groupData.id %>">
								<% if (enableGroupHiding) { %>
									<td colspan="2"><i class="chevron" onclick="toggleGroupVisibility(this)"></i><span class="group-name"><%= monObj[mon].groupData.name %></span></td>
								<% } else { %>
									<td colspan="2"><%= monObj[mon].groupData.name %></td>
								<% } %>
								<td><%= monObj[mon].groupData.status === undefined ? 'unknown' : monObj[mon].groupData.status %></td>
								<td>group</td>
							</tr>
							<% var memberCounter = 0 %>
							<% for (var member in monObj[mon].members) { %>
								<% monObj[mon].members[member].up === true ? monObj[mon].members[member].state = 'up' : monObj[mon].members[member].up === undefined ? monObj[mon].members[member].state = 'unknown' : monObj[mon].members[member].state = 'down' %>
								<% memberCounter++ %>
								<% var last = Object.keys(monObj[mon].members).length === memberCounter %>
								<% if (enableGroupHiding) { %>
									<tr class="group-member hidden" data-member-of="<%= monObj[mon].groupData.id %>">
								<% } else { %>
									<tr>
								<% } %>
									<% if (!last) { %>
										<td class="group-indent"></td>
									<% } else { %>
										<% if (!monLast) { %>
											<td class="group-indent-last"></td>
										<% } else { %>
											<td class="group-indent"></td>
										<% } %>
									<% } %>
									<td><a href="/ping/<%= member %>"><%= member %></a></td>
									<td><%= monObj[mon].members[member].state %></td>
									<td><%= monObj[mon].members[member].type %></td>
								</tr>
							<% } %>
						<% } else { %>
							<% monObj[mon].up === true ? monObj[mon].state = 'up' : monObj[mon].up === undefined ? monObj[mon].state = 'unknown' : monitors[monitor].state = 'down' %>
							<tr>
								<td colspan="2" class="standalone-monitor"><a href="/ping/<%= mon %>"><%= mon %></a></td>
								<td><%= monObj[mon].state %></td>
								<td><%= monObj[mon].type %></td>
							</tr>
						<% } %>
					<% } %>
				</tbody>
			</table>
		</div>
		<script>
			function toggleGroupVisibility(e) {
				var _groupId = e.parentElement.parentElement.getAttribute('data-group-id');
				var _groupMembers = document.querySelectorAll('[data-member-of="'+_groupId+'"]');

				if (e.classList.contains('rotated-chevron')) {
					e.classList.remove('rotated-chevron');
					e.classList.add('rotated-chevron-back');
				} else if (e.classList.contains('rotated-chevron-back')) {
					e.classList.remove('rotated-chevron-back');
					e.classList.add('rotated-chevron');
				} else {
					e.classList.add('rotated-chevron');
				}

				for (var i = 0; i < _groupMembers.length; i++) {
					var _isHidden = _groupMembers[i].classList.contains('hidden');
					if (_isHidden) {
						_groupMembers[i].classList.remove('hidden');
					} else {
						_groupMembers[i].classList.add('hidden');
					}
				}
			}
		</script>
	</body>
</html>